input{
    background-color: #222222;
    border: none; 
    border-radius: 3px;
    color: #f5f5f5; 
}

button{ 
    background-color: #222222;
    border: none; 
    border-radius: 3px;
    color: white; 
}

.delete-btn{
    color: red; 
    background-color: rgba(0, 0,0,0);
    font-size: 20px;
    padding-left: 10px;
    border: none; 
}

.pt-properties{
   margin-left: 10px; 
}

#graph-editor{
    border-radius: 15px;
}